特征衍生课件 filter=lfs diff=lfs merge=lfs -text
菜菜——机器学习 filter=lfs diff=lfs merge=lfs -text
Feature[[:space:]]Engineering[[:space:]]for[[:space:]]Machine[[:space:]]Learning.pdf filter=lfs diff=lfs merge=lfs -text
利用Python进行数据分析 filter=lfs diff=lfs merge=lfs -text
机器学习之特征锦囊V2.0.pdf filter=lfs diff=lfs merge=lfs -text
精通特征工程.pdf filter=lfs diff=lfs merge=lfs -text
datawhale数据挖掘 filter=lfs diff=lfs merge=lfs -text
xunfei_demo.ipynb filter=lfs diff=lfs merge=lfs -text
机器学习[[:space:]]Machine[[:space:]]Learing.xmind filter=lfs diff=lfs merge=lfs -text
美团机器学习实践.pdf filter=lfs diff=lfs merge=lfs -text
